{% extends 'core/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="container">

            {% if not user.is_authenticate and user.address.count == 0  %}
                <div class=" card-panel">
                    <h5 class="text-floating">Insira seu endereço para feed personalizado</h5>
                    <div class="row" >
                        <div class="input-field col s12">
                            <input id="autocomplete" class="validate" placeholder="Rua Santana, 120 - Centro, Mogi das Cruzes - SP, Brasil" onFocus="geolocate()" type="text">
                            <label for="autocomplete">Comece a inserir seu endereço, depois clique na caixa que aparecerá.</label>
                            <label for="user">
                                <input type="text" id="user" class="hide" value="{{ user.pk }}" />
                            </label>
                        </div>
                        <div class="col s12 center-align">
                            <button  class="btn-large waves-effect green " type="button" onclick="updateAddress()">
                                salvar
                                <i class="material-icons right">check</i>
                            </button>
                        </div>
                    </div>
                </div>
                <script src="{% static 'core/js/maps.js' %}"></script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9FpqYNs7XDbuLu60hNFIeTbNDvlz0L0o&libraries=places&callback=initAutocomplete" async defer></script>
            {% endif %}
            <a href="{% url 'cozinhas' %}"><h5 class="light link">Mais categorias</h5></a>
            <div class="main-carousel js-flickity" data-flickity-options='{ "pageDots": false, "cellAlign": "left", "contain": true }'>
                {% for categoria in categorias %}
                    <a href="{% url 'category' slug=categoria.slug %}">
                        <div class="col s6 l4 m4" style="margin: 2px 0; padding: 0;">
                            <div style="width: 98%; height: auto;">
                                <div class="Aligner image-box center-align white depth-1 card-type">
                                    <div class="image" style="width: 100%; background: url('{{ categoria.category_photo.url }}') center/cover;">
                                        <div class="Aligner" id="box" style="width: 100%; height: 100%; background-color: rgba(0, 0, 0, .2)">
                                            <h4>{{ categoria.title }}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <h5 class="light link">Adicionados recentemente </h5>
            <div class="main-carousel js-flickity" id="carrousel" data-flickity-options='{ "pageDots": false, "cellAlign": "left", "contain": true }'>
                {% include 'components/card-product.html' with produtos=produtos.lasted %}
            </div>
            <h5 class="light link">Mais Pedidos </h5>
            <div class="main-carousel js-flickity" id="carrousel" data-flickity-options='{ "pageDots": false, "cellAlign": "left", "contain": true }'>
                {% include 'components/card-product.html' with produtos=produtos.lasted %}
            </div>
            <h5 class="light link">Mais bem avaliados</h5>
            <div class="main-carousel js-flickity" id="carrousel" data-flickity-options='{ "pageDots": false, "cellAlign": "left", "contain": true }'>
                {% include 'components/card-product.html' with produtos=produtos.highest_rating %}
            </div>
        </div>
    </div>
    <link  rel="stylesheet" href="{% static 'core/materialize/css/flickity.css' %}">
    <script defer src="{% static 'core/materialize/js/flickity.pkgd.min.js' %}"></script>
{% endblock %}
