{% extends 'core/base.html' %}{% load staticfiles %}{% load cardapioz_extras %}

{% block content %}
    <div class="container" style="height: auto; min-height: 100vh;">
        <div class="row">
            <div class="col s12 m7 l7">
                <ul class="collection">
                    <li class="collection-item"><div>Pedidos em andamento<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
                </ul>
                <ul class="collapsible" data-collapsible="accordion">
                    {% for order in orders  %}
                        <li>
                            <div class="collapsible-header">
                                <span class="new badge {{ order.status|color }}" data-badge-caption="{{ order.get_status }}"></span>
                                <i class="material-icons">keyboard_arrow_down</i><span title="{{ order.product.title }}" class="truncate">{{ order.product.title }}</span></div>
                            <div class="white collapsible-body">
                                <div class="row">
                                    <ul class="collection">
                                        <li class="collection-item avatar">
                                            <img src="{{ order.product.photo_thumb.url }}" alt="" class="circle">
                                            <span class="title truncate">{{ order.product.title }}</span>
                                            <p>{{ order.product.author.first_name }}<br>
                                                Second Line
                                            </p>
                                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                                        </li>
                                    </ul>
                                    <div class="divider"></div>
                                    <div class="col s4 {% if order.status < 2 %}z-depth-4 white{% else %}grey lighten-3{% endif %}">
                                        <div class="Aligner" style="height: 200px;">
                                            <i class="material-icons red-text text-darken-3" style="font-size: 30pt;">access_time</i>
                                        </div>
                                        <p class="center-align" > Em espera</p>
                                    </div>
                                    <div class="col s4 {% if order.status == 2 %}z-depth-4 white{% else %}grey lighten-3{% endif %}">
                                        <div class="Aligner" style="height: 200px;">
                                            <i class="material-icons red-text text-darken-3"  style="font-size: 30pt;">local_pizza</i>
                                        </div>
                                        <p class="center-align">Em andamento</p>
                                    </div>
                                    <div class="col s4 {% if order.status == 3 %}z-depth-4 white{% else %}grey lighten-3{% endif %}">
                                        <div class="Aligner" style="height: 200px; width: 100%;">
                                            <i class="material-icons red-text text-darken-3" style="font-size: 30pt;">motorcycle</i>
                                        </div>
                                        <p class="center-align"> Saiu para entrega! :3</p>
                                    </div>

                                </div>

                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col s12 m5 l5">
                <ul class="collection">
                    <li class="collection-item">
                        <div>Pedidos recentes<a href="#!" class="secondary-content">
                            <i class="material-icons">done_all</i></a>
                        </div>
                    </li>
                </ul>

                <ul class="collapsible" data-collapsible="accordion">
                    {% for order_delivered in orders_delivered %}
                        <li>
                            <div class="collapsible-header"><span class="new badge green" data-badge-caption="entregue"></span>
                                <i class="material-icons">restaurant_menu</i>{{ order_delivered.product.title }}
                            </div>
                            <div class="white collapsible-body">
                                <div class="row">
                                    <div class="col s12">
                                        Avalie este pedido
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% empty %}
                        <li>
                            <div class="collapsible-header z-depth-0">
                                <i class="material-icons">restaurant_menu</i>Ainda não há pedidos entregues.
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <form action="{% url 'pedidos' %}" method="post">{% csrf_token %}
            <button type="submit">submit</button>
        </form>
    </div>
{% endblock %}
