{% extends 'core/base.html' %}{% load staticfiles %}
{% load ratings %}
{% block content %}
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l6">
                <img width="100%"  class="materialboxed border-8px" style="width: 100%; height: auto; margin: 10px 0; position: relative;" src="{{ produto.photo_medium.url }}">
            </div>

            <div class="col s12 m12 l6">
                <ul class="white collection">
                    <li class="collection-item avatar">
                        <img src="{{ produto.owner.store.photo.url }}" alt="Foto Empresa" class="circle">
                        <span class="title">
                            {{ produto.owner.store.name|capfirst }}
                            <span style="top: -2px; width: 20px; height: 20px;" class="btn-floating pulse green accent-4"></span>
                        </span>
                        <p><a href="{% url 'category' slug=produto.category_product.slug %}">{{ produto.category_title|capfirst }}</a><br><br>
                        <p class="text-success">Avaliação</p>
                        {% ratings produto %}
                        <span class="green-text text-darken-3 secondary-content">R${{ produto.price|floatformat:2 }}</span>
                    </li>
                    <li class="collection-item">
                        <div class="input-field">
                            <input placeholder="Quantidade" id="quantidade" value="1"  min="1" type="number" class="validate">
                            <label for="quantidade">Quantidade</label>
                        </div>
                        <div class="input-field">

                            <select title="Selecione um endereço">
                                <option value="" disabled selected>Endereço de entrega</option>
                                {% for address in user.address.all %}
                                    <option value="{{ address.pk }}">{{ address.full_address }}</option>
                                {% endfor %}

                            </select>
                            <label>Escolha um endereço de entrega</label>
                        </div>

                        <p>Forma de pagamento</p>
                        <p>
                            <input name="group1" type="radio" id="test1" />
                            <label for="test1">Em dinheiro</label>
                            <input name="group1" type="radio" id="test2" />
                            <label for="test2">No cartão</label>
                        </p>
                    </li>
                    <li class="collection-item">
                        <p>
                            <a class="btn red darken-3 waves-effect">pedir</a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col s12 l6 m12">
                <ul class="collapsible z-depth-0" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>Ingredientes</div>
                        <ul class="collection collapsible-body" style="padding: 0;">
                            {% for ingredient in produto.ingredients.all %}
                                <li class="collection-item">{{ ingredient }}</li>
                            {% empty %}
                                <li class="collection-item">Não há ingredientes</li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>

                {% include 'core/components/comments.html' %}
                <div class="col s12 l6 m12" style="text-align: center;">
                    {% if relateds %}
                        <a  class="light link" href="{% url 'category' slug=produto.category_product.slug  %}">
                            <h5 class="light link">Ver mais relacionados</h5>
                        </a>
                    {% endif %}
                    {% for related in relateds %}
                        {% include 'core/components/card-product.html' with produtos=relateds %}
                    {% empty %}
                        {% include 'core/components/not-found-cheff.html' with title='Não há produtos relacionados' text='Crie um alerta e seja avisado quando houver algum prato preparado.' %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
<!-- #c13e0c -->
