{% load staticfiles %}
<li>
    <div class="userView">
        <div class="background">
            <img src="{% static 'core/img/cover-cardapioz.png' %}">
        </div>
        <a href="">
            <img id="user-photo" class="circle" src="{% if user.profile.photo.url != '/imagens/img/user.svg' and not user.socialaccount_set.all.0.get_avatar_url %}{{ user.profile.photo.url  }}{% elif user.socialaccount_set.all.0.get_avatar_url %}{{ user.socialaccount_set.all.0.get_avatar_url }}{% endif %}">
        </a>
        <a href="">
            <span id="user-name" class="white-text name">{{ user.get_full_name|capfirst }}</span>
        </a>
        <a href="">
            <span class="white-text email">{{ user.email }}</span>
        </a>
    </div>
</li>
<li><a href="{% url 'account_login' %}"><i class="material-icons">settings</i>Meu perfil</a></li>
<li><a href="{% url 'pedidos' %}"><i class="material-icons">shopping_cart</i>Meus pedidos</a></li>
<li><div class="divider"></div></li>
<li><a class="subheader">Subheader</a></li>
<li><a class="waves-effect" href="#">Third Link With Waves</a></li>
<li><a class="waves-effect" href="#">Third Link With Waves</a></li>
<li><a class="waves-effect" href="#">Third Link With Waves</a></li>
<li><a class="waves-effect" href="{% url 'account_logout' %}">Sair</a></li>
