{% load staticfiles %}
<div class="center-align">
    <div class="collection center-align white row" style="margin: 20px 0; padding: 30px 0">
        <div class="col s12">
            <img width="90px" height="auto" src="{% static 'core/img/chef.svg' %}" alt="">
            <div class="" style="min-height: 80px;">
                <h5 class="light black-text">{{ title }}</h5>
                <p>{{ text }}</p>
            </div>
            <a class="waves-effect red darken-3 waves-light btn-large">
                <i class="material-icons left">notifications</i>criar alerta</a>
        </div>
    </div>
</div>
